:root {
    --header-size: 25px;
    --cmd-height: 80vh;
    --cmd-width: 70vw;
    --cmd-content-color: #e3e3e3;
    --cmd-background-color: #272727;
    --cmd-desc-color: #c0c0c0;

}

@media screen and (max-width: 1200px)
{
    :root {
        --cmd-height: 90vh;
        --cmd-width: 85vw;
    }
}

@media screen and (max-width: 700px)
{
    :root {
        --cmd-height: 100vh;
        --cmd-width: 100vw;
    }
}

.background {
    background: #5d0399;
    height: 100vh;
    float: left;
    width: 100vw;
}

.cmd-container {
    display:inline-block;
    height: var(--cmd-height);
    margin: calc(calc(100vh - var(--cmd-height)) / 2) 0;
    width: var(--cmd-width);
    vertical-align: middle;
    position: relative;
}

.cmd {
    background: var(--cmd-background-color);
    border-top: solid var(--header-size) #9c9c9c;
    border-radius: 10px;
    box-sizing: border-box;
}

@media screen and (max-width: 700px)
{
    .cmd {
        border-radius: 0px;
    }
}

.box {
    flex: 1;
}
.cmd-button {
    border-radius: 100px;
    width: 12px;
    height: 12px;
    margin: 0 10px;
    margin-top: 7px;
    float: right;
    background: solid 10px;
}

.cmd-button:hover {
    cursor: pointer;
}

.cmd-button-red {
    background-color: #F6634F;
}

.cmd-button-red:hover {
    background-color: #ed3d26;
}

.cmd-button-orange {
    background-color: #FFBB2F;
}

.cmd-button-orange:hover {
    background-color: #ff9e2f;
}

.cmd-button-green {
    background-color: #1CCC42;
}

.cmd-button-green:hover {
    background-color: #0bba0e;
}

.cmd-top-container {
    margin-top: calc(-1 * var(--header-size));
    line-height: var(--header-size);
    flex-direction: row;
    display: flex;
}

.cmd-content-container {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    width: 100%;
    text-align: left;
    overflow: hidden;
}

.cmd-content {
    margin: 0 10px;
    color: var(--cmd-content-color);
}

.cmd-content-first {
    margin-bottom: 20px;
}

.cmd-content-last {
    margin-top: 20px;
}

.cmd-input {
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    caret-color: transparent;

    font-family: "Lucida Console", monospace;
    font-size: 1em;
    color: var(--cmd-content-color);
}

.cmd-input:focus {
    outline: none;
}

.input-form {
    display: inline-block
}

.input-carret {
    margin-bottom: -3px;
    width: 6px;
    height: 1em;
    display: inline-block;
}

.input-carret-blur {
    border: solid var(--cmd-content-color) 1px;
}

@keyframes carret-blink {
    from {
        border: solid var(--cmd-content-color) 1px;
        background-color: var(--cmd-content-color);
    }

    to {
        border: solid var(--cmd-background-color) 1px;
        background-color: var(--cmd-background-color);

    }
}

.input-carret-focus-ide {
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-name: carret-blink;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.85, 0.1, 0.68, 0.22);;
}

.input-carret-focus-typing  {
    border: solid var(--cmd-content-color) 1px;
    background-color: var(--cmd-content-color);
}