.pocket-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.container {
	display: flex;
	flex-direction: row;
}

.content {
    margin-right: 10px;
}

.dir {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;

    color: rgb(78, 122, 209);
}

.file {
	color: #02c2c5;
}

.link {
	text-decoration: none;
}

.link:hover {
	color: #018285
}

.title {
	text-align: right;
}

.desc {
	text-align: left;
	color: var(--cmd-desc-color);
	flex-grow: 1;
}

.label {
	color: rgb(2, 185, 20);
	text-align: right;
	flex-shrink: 0;
}