.container {
	display: flex;
	flex-direction: row;
}

.sub-container {
	display: flex;
	flex-direction: column;
}

.content {
    margin-right: 10px;
}

.dir {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;

    color: rgb(78, 122, 209);
}

.file {
	color: #02c2c5;
}

.title {
	text-align: right;
}

.desc {
	text-align: left;
	color: #c0c0c0;
}