.pocket-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.container {
	display: flex;
	flex-direction: row;
}

.content {
	margin-right: 10px;
	display: block;
}

.title {
	text-align: right;
}

.desc {
	text-align: left;
	color: var(--cmd-desc-color);
	flex-grow: 1;
}

.label {
	color: rgb(2, 185, 20);
	text-align: right;
	flex-shrink: 0;
}