.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.element {
    border-radius: 10px;
    background-color: var(--cmd-background-color);
    padding: 5px 10px;
    color: var(--cmd-content-color);
    cursor: pointer;
    transition-property: transform, max-width, padding, margin;
    transition-duration: 500ms;
    margin: 0 10px;
}

.element-show {
    color: var(--cmd-content-color);
    transform: scale(1);
    max-width: 200px;
}

.element-hide {
    transform: scale(0);
    max-width: 0px;
    padding: 0px;
    margin: 0px;
    animation-direction: reverse;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

.element:hover {
    background-color: #1b1b1b
}